<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>

</head>

<body>
    <div class="main-content">
    {{>header}}
    <img src="/img/robot.png" class="portrait">
    </div>
    {{>footer}}
</body>

</html>